@CHARSET "UTF-8";
#manage{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
	font-size: 12px;
}
#manage h2{
	text-indent: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
#manage #manageSidebar{
	width: 300px;
	height: 550px;
	margin: 15px;
	border: 1px dashed #999;
	float: left;
}
#manage #manageSidebar dl{
	width: 250px;
	background: red;
	margin: 15px auto;
}
#manage #manageSidebar dl dt{
	height: 40px;
	line-height: 40px;
	background: #999;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
#manage #manageSidebar dl dd{
	height: 40px;
	line-height: 40px;
	background: #eee;
	font-weight: bold;
	text-align: center;
}
#manage #manageSidebar dl dd a{
	display: block;
	color: #333;
	text-decoration: none;
}
#manage #manageSidebar dl dd a:hover{
	background: #ccc;
}
#manage #manageMainArea{
	width: 590px;
	height: 550px;
	margin: 15px;
	border: 1px dashed #999;
	float: right;
}
#manage #manageMainArea dl{
	width: 500px;
	margin: 15px auto;
	font-size: 14px;
}
#manage #manageMainArea dl dd{
	padding: 10px 0;
	border-bottom: 1px dashed #999;
}