@CHARSET "UTF-8";
#photoShow{
	width: auto;
	height: auto;
	border: 2px solid #ccc;
	font-size: 12px;
}
#photoShow h2{
	text-indent: 0;
	text-align: center;
}
#photoShow p{
	text-align: center;
	padding: 20px;
	clear: both;
}
#photoShow a{
	font-size: 14px;
	color: #333;
}
#photoShow dl{
	float: left;
	text-align: center;
	height: 250px;
	width: 200px;
	margin: 15px;
}
#photoShow dl dd img{
	border: none;
}
#photoShow dl dd{
	padding: 2px 0;
}
#photoShow dl dd a{
	color: #333;
	text-decoration: none;
}